<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitness">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".exercise.butt.SingleLegSquatReachAcross"></activity>
        <activity android:name=".exercise.butt.RearFootDeadlift" />
        <activity android:name=".exercise.butt.RearFootSquat" />
        <activity android:name=".exercise.butt.PowerSkip" />
        <activity android:name=".exercise.butt.SingleLegDeadlift" />
        <activity android:name=".exercise.butt.SupportedSingleLegSquat" />
        <activity android:name=".exercise.butt.BottomUpLungeToCrossOver" />
        <activity android:name=".exercise.butt.SideStepUp" />
        <activity android:name=".exercise.butt.HipDriveStepUp" />
        <activity android:name=".exercise.butt.SingleLegHipLift" />
        <activity android:name=".exercise.butt.WalkingLunge" />
        <activity android:name=".exercise.butt.SideLungeShift" />
        <activity android:name=".exercise.butt.StepUp" />
        <activity android:name=".exercise.butt.HipThrustSingleArmReach" />
        <activity android:name=".exercise.butt.DiagonalSquat" />
        <activity android:name=".exercise.butt.ChairSquatJump" />
        <activity android:name=".exercise.butt.MarchingHipLifts" />
        <activity android:name=".exercise.butt.SideSkater" />
        <activity android:name=".exercise.butt.GluteBridge" />
        <activity android:name=".exercise.butt.HipThrust" />
        <activity android:name=".exercise.butt.BottomupLunge" />
        <activity android:name=".exercise.butt.HipDrive" />
        <activity android:name=".exercise.leg.DonkeyKick2" />
        <activity android:name=".exercise.leg.LyingButterflyStretch" />
        <activity android:name=".exercise.leg.WallSit" />
        <activity android:name=".exercise.leg.GluteKickBack" />
        <activity android:name=".exercise.leg.SideLegCircle2" />
        <activity android:name=".exercise.leg.LungeJump" />
        <activity android:name=".exercise.leg.BottomLegLift" />
        <activity android:name=".exercise.leg.JumpingSquat" />
        <activity android:name=".exercise.leg.CalfRaiseWithSplayedFoot" />
        <activity android:name=".exercise.leg.QuadStretchWithWall2" />
        <activity android:name=".exercise.leg.ReverseFlutterKick" />
        <activity android:name=".exercise.leg.SideLegCircle" />
        <activity android:name=".exercise.leg.Lunges" />
        <activity android:name=".exercise.leg.SumoSquatCalfRaise" />
        <activity android:name=".exercise.leg.CalfStretch" />
        <activity android:name=".exercise.leg.WallCalfRaises" />
        <activity android:name=".exercise.leg.QuadStretchWithWall" />
        <activity android:name=".exercise.leg.DonkeyKick" />
        <activity android:name=".exercise.leg.Squats" />
        <activity android:name=".exercise.leg.SideHop" />
        <activity android:name=".exercise.arms.StandingBicep3" />
        <activity android:name=".exercise.arms.SkippingWithoutRope2" />
        <activity android:name=".exercise.arms.TricepStretch3" />
        <activity android:name=".exercise.arms.ChestPressPulse" />
        <activity android:name=".exercise.arms.MilitaryPushup" />
        <activity android:name=".exercise.arms.ArmCurlCrunch" />
        <activity android:name=".exercise.arms.SkippingWithoutrope" />
        <activity android:name=".exercise.arms.StandingBicep2" />
        <activity android:name=".exercise.arms.TricepStretch2" />
        <activity android:name=".exercise.arms.Militarypush2" />
        <activity android:name=".exercise.arms.FloorTricep" />
        <activity android:name=".exercise.arms.PushUpRot" />
        <activity android:name=".exercise.arms.Burpeees" />
        <activity android:name=".exercise.arms.ArmScissor" />
        <activity android:name=".exercise.arms.StandingBicep" />
        <activity android:name=".exercise.arms.TricepStretch" />
        <activity android:name=".exercise.arms.TricepDip" />
        <activity android:name=".exercise.arms.PushUpss" />
        <activity android:name=".exercise.arms.BarbellCurl" />
        <activity android:name=".exercise.arms.ArmCircleClockwise" />
        <activity android:name=".exercise.arms.ArmRaises" />
        <activity android:name=".exercise.abs.DeadBug" />
        <activity android:name=".exercise.abs.ReverseCrunch" />
        <activity android:name=".exercise.abs.BicycleCrunch" />
        <activity android:name=".exercise.abs.Lsit" />
        <activity android:name=".exercise.abs.HangingLeg" />
        <activity android:name=".exercise.abs.Hollow" />
        <activity android:name=".exercise.abs.PallOff" />
        <activity android:name=".exercise.abs.WalkPlank" />
        <activity android:name=".exercise.abs.Medicine" />
        <activity android:name=".exercise.abs.Dumbell" />
        <activity android:name=".exercise.abs.HangingKnee" />
        <activity android:name=".exercise.abs.AbsRollOut" />
        <activity android:name=".exercise.abs.BirdDog" />
        <activity android:name=".exercise.abs.LegRaise" />
        <activity android:name=".exercise.cardio.Inchwom" />
        <activity android:name=".exercise.cardio.Burpees" />
        <activity android:name=".exercise.cardio.RotationalJack" />
        <activity android:name=".exercise.cardio.Diagonal" />
        <activity android:name=".exercise.cardio.PlankSki" />
        <activity android:name=".exercise.cardio.Mount" />
        <activity android:name=".exercise.cardio.PlankJack" />
        <activity android:name=".exercise.cardio.BoxJump" />
        <activity android:name=".exercise.cardio.LungeJump" />
        <activity android:name=".exercise.cardio.StandingAlter" />
        <activity android:name=".exercise.cardio.SquatJump" />
        <activity android:name=".exercise.cardio.ToeTap" />
        <activity android:name=".exercise.cardio.JumPing" />
        <activity android:name=".exercise.cardio.SpeedSkater" />
        <activity android:name=".exercise.cardio.StandingOblique" />
        <activity android:name=".exercise.cardio.CrabWalk" />
        <activity android:name=".exercise.cardio.LateralShuffles" />
        <activity android:name=".exercise.cardio.ButtKick" />
        <activity android:name=".exercise.cardio.HighKnees" />
        <activity android:name=".dailyworkout.LegAdvance" />
        <activity android:name=".dailyworkout.CardioAdvance" />
        <activity android:name=".dailyworkout.ButtAdvance" />
        <activity android:name=".dailyworkout.ArmAdvance" />
        <activity android:name=".dailyworkout.AbsAdvance" />
        <activity android:name=".dailyworkout.LegInter" />
        <activity android:name=".dailyworkout.CardioInter" />
        <activity android:name=".dailyworkout.ButtInter" />
        <activity android:name=".dailyworkout.ArmInter" />
        <activity android:name=".dailyworkout.AbsInter" />
        <activity android:name=".exercise.abs.CobraStretch" />
        <activity android:name=".exercise.abs.HeelTouch" />
        <activity android:name=".exercise.abs.Plank" />
        <activity android:name=".exercise.abs.Abdominal" />
        <activity android:name=".exercise.abs.RussianTwist" />
        <activity android:name=".exercise.abs.LegRaises" />
        <activity android:name=".exercise.abs.MountainClimber" />
        <activity android:name=".exercise.abs.JumpingJack" />
        <activity android:name=".dailyworkout.LegBeg" />
        <activity android:name=".dailyworkout.CardioBeg" />
        <activity android:name=".dailyworkout.ButtBeg" />
        <activity android:name=".dailyworkout.ArmBeg" />
        <activity android:name=".dailyworkout.AbsBeg" />
        <activity android:name=".activity.DailyWorkout" />
        <activity android:name=".activity.Reminder" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>